html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  src: sans("Montserrat"), url(static/fonts/Montserrat.woff2);
}
@font-face  {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  src: serif("Playfair Display"), url(static/fonts/Playfair_Display.woff2);
}
@font-face {
  font-family: 'Magical Childhood Regular';
    font-style: normal;
    font-weight: normal;
    src: local("MagicalChildhood-Rprjl"), url(/fonts/MagicalChildhood-Rprjl.woff2);
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    @media (width <= 1440px) {
    font-size: 16px;
  }
  @media (width <= 1024px) {
    font-size: 14px;
  }

}

a {
  text-decoration: none;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
